<html>
    <head>
        <title>Handlebar App</title>
    </head>
    <body>
        <h1>hello World!</h1>
        {{title}}
        <ul>
            {{#each list}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </body>
</html>